.newServerForm {
    width: 350px;
    border-radius: 5px;
    border: 3px solid var(--color-bordo-shadow);
    margin: 5px;
}

.input {
    width: 90%;
}

.central {
    text-align: center;
}

.title {
    background-color: var(--color-bordo-shadow);
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--color-brown);
    font-weight: bold;
}